html, body, #root {
    height: 100%;
    font-size: 12px;
    overflow-y: hidden;
    font-family: 'PingFang SC','MicroSoft YaHei','-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Hiragino Sans GB', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}
.ant-table-thead > tr > th.ant-table-selection-column, .ant-table-tbody > tr > td.ant-table-selection-column{
        min-width: 32px!important;
        text-align: center;
        width: 5px;
}
.ant-table-tbody > tr > td{
    border: none!important;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {

  word-break: break-all;
}
.ant-table-thead > tr > th{
      padding: 1px 0!important;
}
