html,
body,
#root {
    height: 100%;
    font-size: 12px;
    overflow-y: hidden;
    font-family: 'PingFang SC', 'MicroSoft YaHei', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Hiragino Sans GB', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    -webkit-font-smoothing : antialiased;
}
/*最上方菜单栏的颜色*/
.header_menu{
    background-color: rgba(0,0,0,0.2) !important;
}
.ant-transfer-checkbox-checked .ant-transfer-checkbox-inner, .ant-transfer-checkbox-indeterminate .ant-transfer-checkbox-inner{
    border-color:#2f4151 !important;
    background-color:#2f4151 !important;
}
.ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner{
    border-color:#2f4151 !important;
    background-color:#2f4151 !important;
}
/*菜单背景色*/
.ant-menu-dark{
    background-color: rgba(0,0,0,0.2) !important;
}
/*菜单选中的背景色*/
.ant-menu-dark.ant-menu-inline .ant-menu-item-selected{
    background-color: #e9eaed !important;
    color:rgba(0,0,0,1) !important;
    font-weight: 600;
}
.ant-menu-submenu{
    color:rgba(255,255,255,0.9);
}
.ant-menu-item{
    color:rgba(255,255,255,0.9) !important;
}
.ant-menu-item:hover{
    background-color: rgba(0,0,0,0.6) !important;
}
.ant-btn{
    display : -webkit-inline-flex !important;
    display : inline-flex !important;
    align-items : center !important;
}
/*按钮背景色*/
.ant-btn-primary{
    background-color : #2f4151 !important;
    border-color: #2f4151 !important;
}
/*分页器背景色*/
.ant-pagination-item-active{
    background-color : #2f4151 !important;
    border-color: #2f4151 !important;
}
.ant-pagination-item:hover{
    color: #2f4151 !important;
    border-color: #2f4151 !important;
}
.ant-pagination-next:hover, .ant-pagination-prev:hover{
    color: #2f4151 !important;
    border-color: #2f4151 !important;
}
/*tab页*/
.ant-tabs-tab:hover{
    color:#2f4151 !important;
    font-weight: 600;
}
.ant-tabs-nav .ant-tabs-tab-active{
    color:#2f4151 !important;
    font-weight: 600;
}
.ant-tabs-ink-bar{
    background-color: #2f4151 !important;
}

/*RadioButton*/
.ant-radio-button-wrapper-checked{
    font-weight: 600;
    color:#2f4151 !important;
    border-color:#2f4151 !important;
    box-shadow:-1 0 0 0 #2f4151 !important;
}
.ant-radio-button-wrapper-checked:hover{
    font-weight: 600;
    color:#2f4151 !important;
    border-color:#2f4151 !important;
    box-shadow:-1 0 0 0 #2f4151 !important;
}
.ant-radio-button-wrapper:hover{
    color:#2f4151 !important;
    font-weight: 600;
}
/*加载时的点颜色*/
.ant-spin-dot i{
    background-color:#000000 !important;
}
.ant-select-open .ant-select-selection{
    border-color: #2f4151 !important;
    box-shadow: 0 0 0 2px rgba(47,65,81,0.2) !important;
}
/*修改modal下header颜色*/
.ant-modal-content .ant-modal-header {
	background-color : #2f4151;
}
.ant-modal-body{
    /* padding : 30px 16px 10px 16px !important; */
    padding : 16px 16px 10px 16px !important;
    max-height:700px!important;
    overflow-y: scroll!important;
}

/*修改modal下header字体颜色*/
.ant-modal-title{
    color: #ffffff !important;
}
/*修改modal下header的x*/
.ant-modal-close-x{
    color: #dddddd;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}
.ant-modal-close-x:hover{
    color: #ffffff;
    -webkit-transform : rotate(180deg);
       -moz-transform : rotate(180deg);
        -ms-transform : rotate(180deg);
         -o-transform : rotate(180deg);
            transform : rotate(180deg);
}
.ant-modal-close-x:active{
    color: #dddddd;
}

.ant-table-bordered .ant-table-tbody>tr>td, .ant-table-bordered .ant-table-thead>tr>th {
    text-align: center;
}

.ant-tree-checkbox-checked .ant-tree-checkbox-inner, .ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner{
    border-color:#2f4151 !important;
    background-color: #2f4151 !important;
}

/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    background-color: transparent!important;
    border-radius: 5px;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    right: 5px;
}

::-webkit-scrollbar-corner {
    background-color: rgba(237, 240, 245, 0.4);
}

/*定义滑块，内阴影及圆角*/
::-webkit-scrollbar-thumb {
    background-color: #2f4151;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px rgba(255,255,255,1);
}
/*滚动条按钮*/
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

/*定义滚动条的轨道，内阴影及圆角*/
::-webkit-scrollbar-track {
    background-color: rgba(237, 240, 245, 0.4);
    border-radius: 5px;
}
.ant-input:hover, .ant-input:focus{
    border-color:#2f4151 !important;
}
.ant-btn:hover{
    border-color:#2f4151 !important;
}
.ant-modal-mask{
    background-color:rgba(55,55,55,0.5) !important;
}
.ant-btn-ghost:focus, .ant-btn-ghost:hover{
    color:#2f4151 !important;
}
/*定义单选*/
.ant-radio-wrapper:hover .ant-radio .ant-radio-inner, .ant-radio:hover .ant-radio-inner, .ant-radio-focused .ant-radio-inner{
    border-color : #2f4151 !important;
}
.ant-radio-checked .ant-radio-inner{
    border-color : #2f4151 !important;
}
.ant-radio-inner:after{
    background-color : #2f4151 !important;
}
/*表单样式*/
.ant-modal-footer{
    border-top : 0 !important;
}

/*穿梭框*/
.ant-transfer{
    display : -webkit-flex;
    display : flex;
    flex-wrap : nowrap;
}
.ant-transfer-operation{
    display : -webkit-inline-flex !important;
    display : inline-flex !important;
    flex-direction : column;
    justify-content : center;
}
